body {
  font-family: $font Arial, Helvetica, sans-serif;
}

.bg {
  width: 100%;
  height: 100vh;
}

.bg__image {
  background-image: url(/img/bg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-fluid {
  position: absolute;
}

.logo {
  position: relative;
}

.nav-link {
  color: $grey;
  text-transform: uppercase;
  font-weight: 100;
}

.nav-link:hover {
  color: $white;
}

.active {
  color: $white;
}

.btn-primary {
  background-color: transparent;
  border: none;
}

.btn-secondary {
  background-color: transparent;
  border-radius: 36px;
  padding: 5px 25px;
}

.header__text {
  color: $white;
  font-size: 61px;
  width: 50%;
  font-family: 'Archivo Black';
}

.red {
  color: #ff5c63;
}

.header__subtext {
  color: $white;
  width: 38%;
  font-size: 18px;
}

.btn-info {
  background-color: rgba(255, 92, 99, 0.16);
  border-color: #ff5c63;
  color: #ff6f75;
  font-weight: 100;
  border-radius: 32px;
  padding: 10px 45px;
  box-shadow: 0px 0px 10px 1px #ff5c63;
}

.btn-info:hover {
  background-color: #ff6f75;
  color: $white;
  border: $white;
}

.arrow {
  position: relative;
  right: 25px;
}

.whitebox {
  display: flex;
}

.whitebox__1,
.whitebox__2,
.whitebox__3,
.whitebox__4,
.whitebox__5 {
  width: 15%;
  height: 130px;
  background-color: $white;
  border: solid 1px rgba(56, 56, 56, 0.199);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whitebox__1,
.whitebox__2,
.whitebox__3 {
  border-right: solid 1px rgba(56, 56, 56, 0.199);
}

.whitebox__5 {
  border-radius: 0 36px 0 0;
  background-color: #ff5c63;
}

.whitebox__q {
  color: #9b9b9b;
  text-align: left;
  margin-bottom: 0rem !important;
}

.whitebox__a,
.whitebox__action {
  margin-bottom: 0rem !important;
}

.whitebox__action {
  color: $white;
}
